<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/reap</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">12345</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>


		<property name="hibernate.connection.pool_size">1</property>

		<mapping class="com.ttnd.reap.hibernate.model.Employee" />
		<mapping class="com.ttnd.reap.hibernate.model.Practice" />
		<mapping class="com.ttnd.reap.hibernate.model.Services" />
		<mapping class="com.ttnd.reap.hibernate.model.Badges" />
		<mapping class="com.ttnd.reap.hibernate.model.BadgesRemaining" />
		<mapping class="com.ttnd.reap.hibernate.model.Recognise"/>

  
	</session-factory>
</hibernate-configuration>