<!DOCTYPE html>
<html lang="en">
<head>
  <title>Badges</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="jquery-2.2.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
	<style type="text/css">
#style1 {
	 float: left;
	 margin-top: 11px;
	 margin-bottom:12px;	
         float:right;
        }
#style2 {
	margin-left: 0px;
        padding-left :0px;
        }
.pad    {
        padding:10px;
       }
a.badges:active {
    color: black;
}
a.badges{
	color:white;
}
#list li{
         float:right;
		 margin:4px;
         }

#list1 li
       {
	    float:right;
        }	
</style>
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation" style="position:fixed; width:100%; margin-left:0;">
      <div class="container-fluid" >
              <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
                  <img style="max-width:150px;  margin-left:0; margin-top:10px;" src="img/logo.png">
                  <img style="max-width:500px; margin-top: 10px;" src="img/reapo.png" width="604">
		       <ul id="list" style="list-style:none; margin-right:40px; margin-top:-40px">
	            <li><span class="dropdown" >
                          <img src="img/sumit.png" class="img-thumbnail  btn  dropdown-toggle" data-toggle="dropdown" width="45" height="45">          
                           <div class="dropdown-menu dropdown-menu-right" style="height:259px; width:600px; margin-top:21px">
                              <div  style="float:left; margin-left:45px;"><h3 >Your Profile</h3></div>
							  <div class="row col-md-12" style="height:200px margin-right:0px;">
							     <div class="col-md-4" style="margin-left:20px;"><img src="img/sumit.png" style="height:75%" width="75%"></div>
								 <div class="col-md-8" style="float:right; margin-top:-140px">
							        <div class="col-md-12 container-fluid">
									     <table class="table table-hover">
                                             <thead>
                                            </thead>
                                              <tbody>
                                                  <tr>
                                                     <td>Name :</td>
                                                     <td>Sumit Sharma</td>
                                                  </tr>
                                                  <tr>
                                                     <td>Service Line</td>
                                                     <td>intern</td>
                                                  </tr>
                                                  <tr>
                                                     <td>Practice</td>
                                                     <td>intern</td>
                                                  </tr>
												  <tr>
                                                     <td>Email-ID</td>
                                                     <td>sumit.sharma@tothenew.com</td>
                                                  </tr>

                                              </tbody>
                                         </table>
									</div>
								 </div> 
								 
							  <div class="col-md-8" ></div>
							  <div class="col-md-4" >
							  <p style="font-weight:bold;" style="align-left;"> <a href="#" class="btn btn-small btn-default" style="background-image:url('img/background.png');color:white;align:right;">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOG-OUT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
		             </div>
							  </div>
							  
							</div>  
                        </span>
				</li>
				<li><button type="button" class="btn btn-Default" style="width: 37px; height:37px;"><img src="img/ico-bell.png"></button></li>
				<li><a href="#"><button type="button" class="btn btn-secondary" style="width: 80px"><img src="img/ico-idea.png">Idea</button></a></li>
				<li><a href="#"><button type="button" class="btn btn-secondary"><img src="img/ico-dashboard.png">Certificate</button></a></li>
				<li><a href="badge.html"><button type="button" class="btn btn-secondary" style="margin-left:6;"><img src="img/ico-badge.png">Badges</button></a></li>
				<li><a href="dashboard.html"><button type="button" class="btn btn-secondary"><img src="img/ico-dashboard.png">Dashboard</button></a></li>
        </div>
      </div>
    </div>    <br/><br/><br/>
 
 <br/><br/>
 
 <div class="row" style="margin-bottom:10px; width: 1340px;">
      <div class="col-xs-4" style="margin-left:30px;margin-right:15px; left: 0px; top: 0px; width: 33%;">
        <div class="panel panel-primary">
           <div class="panel-heading">BADGES AND POINTS</div>
             <div class="panel-body">
		          <div class="row">
		            <div class="col-xs-2">
		                <img src="img/sumit.png" style="height:60px;width:60px;margin-right:10px;">
		            </div>
		            
			<div class="col-xs-6" style="left: 36px; top: 4px; width: 49%;" >
			     <div class="row" style="margin-left:10px;">
					<a href="#" ><b>Sumit Sharma</b></a>
				 </div>
							  <div class="row" style="margin-top:15px;">
							      <div class="col-xs-2"><img src="img/gbadge.png" style="margin-left:5px;"></div>
							      <div class="col-xs-2"><img src="img/ico-badge.png" style="margin-left:5px;"></div>
							      <div class="col-xs-2"><img src="img/bbadge.png" style="margin-left:5px;"></div>
				              
				              </div>
							  
							  <div class="row" style="margin-top:10px;">
							      <div class="col-xs-2" style="margin-left:9px;" >0</div>
							      <div class="col-xs-2">0</div>
							      <div class="col-xs-2">0</div>
							  </div> 
		    </div>
		      	    		      	  <div class="col-xs-4"  style="background-image:url('img/badges-back.png');margin-top:-15px;margin-bottom:-15px; margin-left:0px;width:140px;" >
		      	    		      	  <br>
									   
									  <h1 style="text-align:right;font-size:bold;color:white;">0</h1>
		                               <h4 style="text-align:right;font-size:bold;color:white;">pts</h1>  
									   
									   
											</div>  

  


  
                 </div>
             </div>
         </div>
	  </div>
      
      
      <div class="col-xs-7" style="margin-left:50px;margin-right:0px; left: 0px; top: 0px; width: 58%;">
        <div class="panel panel-primary">
         
           
           
   <ul class="nav nav-tabs" style="padding:10px;background-image:url('img/background.png')">
    <li class="active" style="width:25%;"><a class="badges" data-toggle="tab" href="#home" >ALL</a></li>
    <li   style="width:25%;"><a class="badges" data-toggle="tab" href="#menu1" ">BADGES SHARED</a></li>    
    <li style="width:25%;"><a class="badges"data-toggle="tab" href="#menu1" >BADGES RECIEVED</a></li>
    <li  style="width:25%;"><a class="badges" data-toggle="tab" href="#menu1">BADGES HISTORY</a></li>    

  </ul>
    </div>
       
  <div class="tab-content" >
    <div id="home" class="tab-pane fade in active">
        	    No data found
        	    </div>
    <div id="menu1" class="tab-pane fade">
     No data found
    </div>
  </div>
  </div>      
</div>

<div class="row" style="margin-bottom:10px; width: 1340px;">
      <div class="col-xs-4" style="margin-left:30px;margin-right:15px; left: 0px; top: 0px; width: 33%;">
        <div class="panel panel-primary">
           <div class="panel-heading">BAG</div>
             <div class="panel-body">
			       <div class="row">
		            <div class="col-xs-4">
		             <p style="font-weight:bold;">Item Details</p>
		            </div>
		            <div class="col-xs-8">
		             <p style="font-weight:bold;">Quantity &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subtotal</p>
		             
		            </div>
					
</div>
                    <br>
					<br>
					
                  <div class="row">
		           <div class="col-xs-4">
		             </div>
		            <div class="col-xs-8">
		             <p style="font-weight:bold;">Total &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0 Points</p>
		             <p style="font-weight:bold;" style="align-left;"> <a href="#" class="btn btn-small btn-default" style="background-image:url('img/background.png');color:white;align:right;">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REDEEM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
		             
		            </div>
					
				   </div>
</div>
</div>
</div>
</div>


</body>

</html>
